<!-- Apply layout from base.html -->
{%extends 'base.html'%} 

{% block title %}Asset View{% endblock %}
{% block title_header %} <div id="view_title"> </div>{% endblock %}

{%block content%}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <label for="asset_title">Asset Title</label><br>
                <span name="asset_title" id="asset_title" > </span>
            </div>
            <div class="col-md-6">
                <label for="asset_status">Status</label><br>
                <span  name="asset_status" id="asset_status" > </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="asset_number">Asset Number</label><br>
                <span name="asset_number" id="asset_number" > </span>
            </div>
            <div class="col-md-6">
                <label for="asset_cost">Cost</label><br>
                <span  name="asset_cost" id="asset_cost" > </span>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header"> 
        <h5> Asset Provider</h5>
    </div>
    <div class="card-body">
        <span hidden name="routeIdView" id="routeIdView" > </span>
        <div>
            <label for="asset_provider_name">Provider:</label><br>
            <span name="asset_provider_name" id="asset_provider_name" > </span>
        </div>
        <div class="row">
            <div class = "col-md-6">
                <label for="asset_provider_contact">Contact:</label><br>
                <span  name="asset_provider_contact" id="asset_provider_contact" > </span>
            </div>
            <div class = "col-md-6">
                <label for="asset_provider_email">Email:</label><br>
                <span name="asset_provider_email" id="asset_provider_email" > </span> 
            </div>
        </div>
    </div>
</div>



{%endblock%}

{% block scripts%}
<script>

$(document).ready(function () {
        var id = "{{id}}"
        console.log(id)
        $.ajax({
                url: 'http://127.0.0.1:8000/Asset/' + id,
                type: "GET",
                data: { id: id },
                dataType: "JSON",
            
                success: function(data){
                    var asset_info = data.data;
                    console.log(asset_info);

                    $("#view_title").append( "<h3>" + asset_info.asset_title + "</h3>" );

                    $("#asset_title").html(asset_info.asset_title );
                    $("#asset_number").html(asset_info.asset_number );
                    $("#asset_cost").html("₱" + asset_info.asset_cost);

                    if (asset_info.asset_status == "Available"){
                        $("#asset_status").html("Available");
                    }

                    //ASSET_PROVIDER
                    $("#asset_provider_name").html(asset_info.asset_provider.asset_provider_name );
                    $("#asset_provider_contact").html(asset_info.asset_provider.asset_provider_contact );
                    $("#asset_provider_email").html(asset_info.asset_provider.asset_provider_email );

                    
                }
        });
    });


</script>
{% endblock %}
