<!-- Apply layout from base.html -->
{%extends 'admin_base.html'%} 

{%block plugins_css%}
<link rel="stylesheet" href="{{url_for('static', path='/plugins/toastr/toastr.min.css')}}">
{%endblock%}

{% block title %}Asset View{% endblock %}
{% block title_header %} <div id="view_title"> </div>{% endblock %}

{% block breadcrumb%}
<div class="col-sm-6">
  <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Hospital Management</a></li>
    <li class="breadcrumb-item"><a href="/asset_management/"> Asset Management</a></li>
    <li class="breadcrumb-item"><a href="/asset_management/asset"> Asset</a></li>
    <li class="breadcrumb-item active">View Asset</li>
  </ol>
</div>  
{% endblock %}

{%block content%}

<div class="btn-group" style="margin-bottom: 10px">
    <button type="button" class="btn btn-info editAsset" data-toggle="modal" data-target="#editAsset"><i class="fas fa-edit"></i>&nbsp; &nbsp;Edit</button>
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
        <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" href="#"><i class="fas fa-check-circle"></i>&nbsp;Check out</a>
            <a class="dropdown-item" href="#"><i class="fas fa-hammer"></i>&nbsp;Repair</a>
            <a class="dropdown-item" href="#"><i class="fas fa-heart-broken"></i>&nbsp;Broken</a>
            <a class="dropdown-item" href="#"><i class="fas fa-sticky-note"></i>&nbsp;Missing</a>
            <a class="dropdown-item" href="#"><i class="fas fa-dollar-sign"></i>&nbsp;&nbsp;Sell</a>
            <a class="dropdown-item" href="#"><i class="fas fa-thumbs-down"></i>&nbsp;Dispose</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color: red" href="#" id="asset_delete" ><i class="fas fa-trash-alt"></i>  Delete</a>
        </div>
    </div>

<div class="card card-primary card-outline">
    <div class="card-body">
    
        <div class="row">
            <div class="col-md-3 border-top border-left border-right">
                <label for="asset_title">Asset Title</label><br>
                <span name="asset_title" id="asset_title" > </span>
            </div>
            <div class="col-md-3 border-top border-right">
                <label for="asset_number">Asset Number</label><br>
                <span name="asset_number" id="asset_number" > </span>
            </div>
            <div class="col-md-3 border-top border-right">
                <label for="asset_type">Category</label><br>
                <span  name="asset_type" id="asset_type" > </span>
            </div>
            <div class="col-md-3 border-top border-right">
                <label for="asset_status">Status</label><br>
                <span  name="asset_status" id="asset_status" > </span>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-4 border-top border-left">
                <label for="asset_acquisition">Acquisiton</label><br>
                <span name="asset_acquisition" id="asset_acquisition" > </span>
            </div>
            <div class="col-md-4 border">
                <label for="acquisition_date" >Acquisiton Date</label><br>
                <span  name="acquisition_date" id="acquisition_date" > </span>
            </div>
            <div class="col-md-4 border-top border-right">
                <label for="asset_cost">Cost</label><br>
                <span  name="asset_cost" id="asset_cost" > </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 border-top border-left">
                <label for="asset_brand">Brand</label><br>
                <span name="asset_brand" id="asset_brand" > </span>
            </div>
            <div class="col-md-4 border-left border-right">
                <label for="asset_model">Model</label><br>
                <span  name="asset_model" id="asset_model" > </span>
            </div>
            <div class="col-md-4 border-top border-right">
                <label for="asset_serial">Serial</label><br>
                <span  name="asset_serial" id="asset_serial" > </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border">
                <label for="asset_description">Description</label><br>
                <span name="asset_description" id="asset_description" > </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-bottom border-left border-right">
                <label for="created_by">Created by</label><br>
                <span name="created_by" id="created_by" > </span>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary">
    <div class="card-header"> 
        <h5> Asset Provider</h5>
    </div>
    <div class="card-body">
        <span hidden name="routeIdView" id="routeIdView" > </span>
        <div class="row">
            <div class = "col-md-12 border">
                <label for="asset_provider_name">Provider:</label><br>
                <span name="asset_provider_name" id="asset_provider_name" > </span>
            </div>
        </div>
        <div class="row">
            <div class = "col-md-6 border-left border-right border-bottom">
                <label for="asset_provider_contact">Contact:</label><br>
                <span  name="asset_provider_contact" id="asset_provider_contact" > </span>
            </div>
            <div class = "col-md-6 border-right border-bottom">
                <label for="asset_provider_email">Email:</label><br>
                <span name="asset_provider_email" id="asset_provider_email" > </span> 
            </div>
        </div>
    </div>
</div>

<div class="row">

<div class="col-12 col-md-12">
    <div class="card card-primary card-outline card-tabs">
        <div class="card-header p-0 pt-1 border-bottom-0">
        <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
            <li class="nav-item">
            <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill" href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Events</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Maintenance</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="custom-tabs-three-messages-tab" data-toggle="pill" href="#custom-tabs-three-messages" role="tab" aria-controls="custom-tabs-three-messages" aria-selected="false">Warranty</a>
            </li>
        </ul>
        </div>
        <div class="card-body">
        <div class="tab-content" id="custom-tabs-three-tabContent">
            <div class="tab-pane fade show active" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                {%include 'asset_management/admin/timeline.html'%} 
            </div>
            <div class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
                Mauris tincidunt mi at erat gravida, eget tristique urna bibendum. Mauris pharetra purus ut ligula tempor, et vulputate metus facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a luctus interdum, nisl ligula placerat mi, quis posuere purus ligula eu lectus. Donec nunc tellus, elementum sit amet ultricies at, posuere nec nunc. Nunc euismod pellentesque diam.
            </div>
            <div class="tab-pane fade" id="custom-tabs-three-messages" role="tabpanel" aria-labelledby="custom-tabs-three-messages-tab">
                Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris. Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa eget condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer vestibulum orci odio. Cras nec augue ipsum. Suspendisse ut velit condimentum, mattis urna a, malesuada nunc. Curabitur eleifend facilisis velit finibus tristique. Nam vulputate, eros non luctus efficitur, ipsum odio volutpat massa, sit amet sollicitudin est libero sed ipsum. Nulla lacinia, ex vitae gravida fermentum, lectus ipsum gravida arcu, id fermentum metus arcu vel metus. Curabitur eget sem eu risus tincidunt eleifend ac ornare magna.
            </div>
        </div>
        </div>
</div>

<!-- MODALS -->

<!-- EDIT ASSET -->
<div class="modal fade" id="editAsset" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editAssetTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
            <form id="editAssetForm">
                <div class="form-row">
                    <div class="form-group col-sm-12">
                        <label for="edit_asset_title">Title</label>
                        <input required class="form-control" name="edit_asset_title" id="edit_asset_title"  >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label for="edit_asset_type">Category</label>
                        <select required name="edit_asset_type" id="edit_asset_type" class="form-control">
                            
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="edit_asset_provider">Asset Provider</label>
                        <select required name="edit_asset_provider" id="edit_asset_provider" class="form-control">
                            
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label for="asset_cost">Cost</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">₱</div>
                            </div>
                            <input required type="number"  class="form-control" name="edit_asset_cost" id="edit_asset_cost"  >
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="edit_asset_acquisition">Acquisition</label>
                        <select required name="edit_asset_acquisition" id="edit_asset_acquisition" class="form-control">
                            <option value="">- - Select - -</option>
                            <option value="Bought">Bought</option>
                            <option value="Donated">Donated</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-12">
                        <label for="acquisition_date">Acquisition Date</label>
                        <input required type="date" class="form-control" name="edit_acquisition_date" id="edit_acquisition_date" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-4 ">
                        <label for="asset_brand">Brand</label>
                        <input  class="form-control" name="edit_asset_brand" id="edit_asset_brand"  >
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="asset_model">Model</label>
                        <input  class="form-control" name="edit_asset_model" id="edit_asset_model"  >
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="asset_serial">Serial</label>
                        <input  class="form-control" name="edit_asset_serial" id="edit_asset_serial"  >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-12">
                        <label for="asset_description">Description</label>
                        <textarea style="margin-top: 10px;" rows="2" cols="50" class="form-control" name="edit_asset_description" id="edit_asset_description">
                        </textarea>
                    </div>
                <div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" id="editAssetBtn">            
        </form>
      </div>
    </div>
  </div>


<!-- /MODALS -->
{%endblock%}

{% block scripts%}
<script src="{{url_for('static', path='/plugins/toastr/toastr.min.js')}}"></script>
<script src="{{url_for('static', path='/plugins/moment/moment.min.js')}}"></script>
<script>

function editDropdowns(){

    $.ajax({
      url: '/asset_management/api/Asset_Type/',
      type: "GET",
      dataType: "JSON",

      success: function(data){
        var asset_type = data.data;

        var html = ""

        if(asset_type.length == 0){
              var html = `<option value=""> - - No Category - - </option>`;
            }
        else{
            var html = `<option value=""> - - Select Category - - </option>`;
        }

        for(var i=0; i < asset_type.length; i++){
          html += `<option value="${asset_type[i].asset_type_id}">${asset_type[i].asset_type_title}</option>`
        }
        
        $('#edit_asset_type').html(html);

            $.ajax({
                url: '/asset_management/api/Asset_Provider/',
                type: "GET",
                dataType: "JSON",

                success: function(data){
                    var asset_provider = data.data;

                    var html = ""

                    if(asset_provider.length == 0){
                      var html = `<option value=""> - - No Provider - - </option>`;
                    }
                    else{
                      var html = `<option value=""> - - Select Provider - - </option>`;
                    }

                    for(var i=0; i < asset_provider.length; i++){
                    html += `<option value="${asset_provider[i].asset_provider_id}">${asset_provider[i].asset_provider_name}</option>`
                    }
                    
                    $('#edit_asset_provider').html(html);
                    

                }
                })
      }
    })
}

function assetDetails(){
var id = "{{id}}"
        $.ajax({
                url: '/asset_management/api/Asset/' + id,
                type: "GET",
                data: { id: id },
                dataType: "JSON",
            
                success: function(data){
                    var asset_info = data.data;
                    console.log(asset_info);

                    $("#view_title").html( "<h3>" + asset_info.asset_title + "</h3>" );

                    $("#asset_title").html(asset_info.asset_title );
                    $("#asset_type").html(asset_info.asset_type.asset_type_title );
                    $("#asset_number").html(asset_info.asset_number );
                    $("#asset_cost").html("₱" + asset_info.asset_cost);
                    $("#asset_acquisition").html( asset_info.asset_acquisition);
                    $("#acquisition_date").html(moment(asset_info.acquisition_date).format('LL'));
                    $("#asset_model").html(asset_info.asset_model);
                    $("#asset_brand").html(asset_info.asset_brand);
                    $("#asset_serial").html(asset_info.asset_serial);
                    $("#asset_description").html(asset_info.asset_description);
                    $("#created_by").html(asset_info.user.user_name);

                    if (asset_info.asset_status == "Available"){
                        $("#asset_status").html("Available");
                    }

                    //ASSET_PROVIDER
                    $("#asset_provider_name").html(asset_info.asset_provider.asset_provider_name );
                    $("#asset_provider_contact").html(asset_info.asset_provider.asset_provider_contact );
                    $("#asset_provider_email").html(asset_info.asset_provider.asset_provider_email );

                    
                }
        });
}

assetDetails()
editDropdowns()
$(document).on("click", ".editAsset", function(){
        $.ajax({
                url: '/asset_management/api/Asset/' + "{{id}}",
                type: "GET",
                dataType: "JSON",
            
                success: function(data){
                    var asset_info = data.data;
                    console.log(asset_info);

                    $("#editAssetTitle").html("Edit " + asset_info.asset_title);
                    

                    //EDIT
                    $("#edit_asset_title").val(asset_info.asset_title );
                    $("#edit_asset_type").val(asset_info.asset_type.asset_type_id);
                    $("#edit_asset_provider").val(asset_info.asset_provider.asset_provider_id );
                    $("#edit_asset_number").val(asset_info.asset_number );
                    $("#edit_asset_cost").val(asset_info.asset_cost);
                    $("#edit_asset_acquisition").val(asset_info.asset_acquisition);
                    $("#edit_acquisition_date").val(new Date(asset_info.acquisition_date).toISOString().slice(0, 10));
                    $("#edit_asset_model").val(asset_info.asset_model);
                    $("#edit_asset_brand").val(asset_info.asset_brand);
                    $("#edit_asset_serial").val(asset_info.asset_serial);
                    $("#edit_asset_description").val(asset_info.asset_description);

                }
        });
    });

$("#editAssetForm").on("submit", function(e){

    e.preventDefault();

    form =  { asset_provider_id: $(edit_asset_provider).val(),
                asset_type_id: $(edit_asset_type).val(),
                asset_cost: $(edit_asset_cost).val(),
                asset_title: $(edit_asset_title).val(),
                asset_description: $(edit_asset_description).val(),
                asset_brand: $(edit_asset_brand).val(),
                asset_model: $(edit_asset_model).val(),
                asset_serial: $(edit_asset_serial).val(),
                asset_acquisition: $(edit_asset_acquisition).val(),
                acquisition_date: new Date($(edit_acquisition_date).val())
                };

    encoded = JSON.stringify(form)
    console.log(encoded)

        $.ajax({
            url:'/asset_management/api/Asset/' + "{{id}}",
            type: "PUT",
            data: encoded,
            dataType: "JSON",
            contentType: "application/json",

            success: function(data){

                event = {
                    asset_id : "{{id}}",
                    event_title : "Edited",
                    event_message: "Edited by " + sessionStorage.getItem("name")
                  }

                    $.ajax({
                    url:'/asset_management/api/Event/',
                    type: "POST",
                    data: JSON.stringify(event),
                    dataType: "JSON",
                    contentType: "application/json",

                    success: function(data){
                    console.log("EVENT CREATED")

                    assetDetails()
                    load_event()
                    $('#editAsset').modal('hide');
                    toastr.success('Asset edited successfully')
                    }
                })
            }
        })
    });

$(document).on("click", "#asset_delete", function(){

        $.ajax({
            url: '/asset_management/api/Asset/' + "{{id}}",
            type: "DELETE",
            dataType: "JSON",
        
            success: function(data){

              window.location.href = "/asset_management/asset/"
            }
        // ajax closing tag
        })
        
    });

function load_event(){
        $.ajax({
        url: '/asset_management/api/Event/' + "{{id}}",
        type: "GET",
        dataType: "JSON",

        success: function(data){
            var event = data.data;

            var html = ""


            for(var i=0; i < event.length; i++){

                if (event[i].event_title == "Creation"){

                    html += 
                    '<div class="time-label">' +
                        '<span class="bg-green">' + moment(event[i].created_at).format('LL') + '</span>' +
                    '</div>' +
                    '<div>' +
                    '<i class="fas fa-plus bg-primary"></i>' +
                    '<div class="timeline-item">' +
                    '<span class="time"><i class="fas fa-clock"></i>  ' + moment(event[i].created_at).startOf('seconds').fromNow() + '</span>'+
                    '<h3 class="timeline-header">' + event[i].event_title + '</h3>' +
                    '<div class="timeline-body">' +
                        event[i].event_message +
                    '</div>' +
                    '</div>' +
                '</div> <div><i class="fas fa-clock bg-gray"></i></div>'
                }

                if (event[i].event_title == "Edited"){
                    if ( i  == 0 || new Date(event[i + 1].created_at) >= new Date(event[i].created_at) ) {
                        html += 
                    '<div class="time-label">' +
                        '<span class="bg-green">' + moment(event[i].created_at).format('LL') + '</span>' +
                    '</div>'
                    }
                        html += 
                        '<div>' +
                        '<i class="fas fa-edit bg-info"></i>' +
                        '<div class="timeline-item">' +
                        '<span class="time"><i class="fas fa-clock"></i>  ' + moment(event[i].created_at).startOf('seconds').fromNow() + '</span>'+
                        '<h3 class="timeline-header">' + event[i].event_title + '</h3>' +
                        '<div class="timeline-body">' +
                            event[i].event_message +
                        '</div>' +
                        '</div>' +
                        '</div>'
                }


            }
         $('.timeline').html(html);
            

        }
        })

    }
    load_event()
</script>
{% endblock %}
